Repository pypa/pipenv: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

.azure-pipelines/linux.yml:
  name: Pipenv Build Rules
  jobs:
  - template: jobs/test.yml
    parameters:
      vmImage: ubuntu-16.04
  - template: jobs/run-vendor-scripts.yml
    parameters:
      vmImage: ubuntu-16.04

.azure-pipelines/windows.yml:
  name: Pipenv Build Rules
  jobs:
  - template: jobs/test.yml
    parameters:
      vmImage: vs2017-win2016

azure-pipelines.yml:
  name: CI
  jobs:
  - job: TestVendoring
    displayName: Vendoring
    pool:
      vmImage: Ubuntu-latest
    variables:
      python.version: '3.7'
      python.architecture: x64
    steps:
    - template: .azure-pipelines/steps/run-vendor-scripts.yml
      parameters:
        vmImage: Ubuntu-latest
  - job: TestPackaging
  ...

Followup plette update: run vendoring script + news fragment (#5394)
  news/5394.bugfix.rst
  pipenv/vendor/plette/__init__.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Release v2022.10.10
  CHANGELOG.rst
  news/5294.feature.rst
  news/5394.bugfix.rst
  pipenv/__version__.py
  pipenv/pipenv.1
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Update documentation
  docs/advanced.rst
  pipenv/cmdparse.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

news seg and lint
  docs/advanced.rst
  news/5396.doc.rst
  pipenv/cmdparse.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Revert back to build isolation by default; support extra-pip-args on sync command.
  pipenv/cli/options.py
  pipenv/core.py
  tests/integration/test_install_categories.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add news fragment.
  news/5399.bugfix.rst
Due: none

Release v2022.10.11
  CHANGELOG.rst
  news/5399.bugfix.rst
  pipenv/__version__.py
  pipenv/pipenv.1
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove recommended packages link in doc sidebar
  docs/_templates/sidebarlogo.html
Due: none

Bump plette to v0.4.2
  pipenv/vendor/plette/__init__.py
  pipenv/vendor/plette/models/sections.py
  pipenv/vendor/vendor.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Bump plette to v0.4.2 (#5401)
  pipenv/vendor/plette/__init__.py
  pipenv/vendor/plette/models/sections.py
  pipenv/vendor/vendor.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove usage of mkdir_p in favour of os.makedirs
  pipenv/project.py
  pipenv/utils/shell.py
  tests/integration/conftest.py
  tests/integration/test_install_twists.py
  tests/integration/test_run.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add type definitions
  pipenv/project.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Replace deprecated workflow command
  .github/workflows/ci.yaml
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Release v2022.10.12
  CHANGELOG.rst
  news/5396.doc.rst
  pipenv/__version__.py
  pipenv/pipenv.1
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add missing backtick in the contributing documentation.
  docs/dev/contributing.rst
Due: none

Update Link For VCS Support
  README.md
Due: none

Update Link For VCS Support (#5412)
  README.md
Due: none

Prep upgrade to latest pip release 22.3
  pipenv/patched/patched.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml

Update pip index safety patch for pip 22.3
  tasks/vendoring/patches/patched/pip_index_safety.patch
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Missing files from run vendoring.update for latest pip 22.3
  pipenv/patched/pip/_vendor/pep517/_compat.py
  pipenv/patched/pip/_vendor/pkg_resources/LICENSE
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add missing backtick in the contributing documentation. (#5410)
  docs/dev/contributing.rst
Due: none

No longer private method.
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix patch to what it had before that is working.
  pipenv/patched/pip/_internal/models/search_scope.py
  tasks/vendoring/patches/patched/pip_index_safety.patch
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Use latest python in vendoring.
  .github/workflows/ci.yaml
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove duplicated test variant with the same name.
  tests/integration/test_lock.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Re-introduce type checking guard
  pipenv/project.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove usage of vistir.cmdparse
  pipenv/environment.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove appdirs.py in favor of platformdirs
  pipenv/environments.py
  pipenv/vendor/appdirs.LICENSE.txt
  pipenv/vendor/appdirs.py
  pipenv/vendor/vendor.txt
  tasks/vendoring/__init__.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add news fragment.
  news/5420.vendor.rst
Due: none

Add news fragment
  news/5419.removal.rst
Due: none

Replace vistir.misc.replace_with_text_stream with click
  pipenv/resolver.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Rewrite Environment.sys_path
  pipenv/environment.py
  pipenv/utils/shell.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

added foresight workflow and test kit actions
  .github/workflows/ci.yaml
  .github/workflows/pypi_upload.yml
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

add category cmd line option
  pipenv/cli/command.py
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Cleanup
  pipenv/cli/command.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

change category to categories
  pipenv/cli/command.py
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

update the test
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

lint fix
  pipenv/cli/command.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/linux.yml: any file but: docs, news, peeps, README.md, pipenv/*.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, .gitignore, .gitattributes, .editorconfig
  .azure-pipelines/windows.yml: any file but: docs, news, peeps, README.md, pipenv/*.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, .gitignore, .gitattributes, .editorconfig
  azure-pipelines.yml: any file but: docs, news, peeps, examples, pytest.ini, README.md, pipenv/patched/patched.txt, pipenv/vendor/vendor_pip.txt, */LICENSE.txt, */LICENSE, *.LICENSE, */vendor.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, *.md, .gitignore, .gitattributes, .editorconfig
