Repository pypa/pipenv: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

.azure-pipelines/linux.yml:
  name: Pipenv Build Rules
  jobs:
  - template: jobs/test.yml
    parameters:
      vmImage: ubuntu-16.04
  - template: jobs/run-vendor-scripts.yml
    parameters:
      vmImage: ubuntu-16.04

.azure-pipelines/windows.yml:
  name: Pipenv Build Rules
  jobs:
  - template: jobs/test.yml
    parameters:
      vmImage: vs2017-win2016

azure-pipelines.yml:
  name: CI
  jobs:
  - job: TestVendoring
    displayName: Vendoring
    pool:
      vmImage: Ubuntu-latest
    variables:
      python.version: '3.7'
      python.architecture: x64
    steps:
    - template: .azure-pipelines/steps/run-vendor-scripts.yml
      parameters:
        vmImage: Ubuntu-latest
  - job: TestPackaging
  ...

Wrote news
  news/5134.bugfix.rst
Due: none

Fix formatter screwup
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add FUNDING.yml
  .github/FUNDING.yml
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Do not expand env vars in requirements
  pipenv/cli/command.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Test requirements env var expansion
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

PIPENV_MAX_ROUNDS is no longer used
  pipenv/environments.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Attempt to remove validation error to see what code does with system flag without this.
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Rip out the system limitation to see what happens.
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Try correcting python version when using system.
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

fix linting issue.
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Flip markers flag to exclude by default
  pipenv/cli/command.py
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Docs and newsfile
  docs/advanced.rst
  news/5092.behavior.rst
Due: none

Docs formatiing
  docs/advanced.rst
Due: none

Let default dependencies update dev dependencies
  pipenv/cli/command.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Include markers issue #5092 (#5114)
  docs/advanced.rst
  news/5092.behavior.rst
  pipenv/cli/command.py
  tests/integration/test_requirements.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix import error in exception class
  pipenv/exceptions.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Depend on requests and certifi from vendored pip and remove it as explicit vendor dependency.
  pipenv/utils/internet.py
  pipenv/vendor/certifi/LICENSE
  pipenv/vendor/certifi/__init__.py
  pipenv/vendor/certifi/__main__.py
  pipenv/vendor/certifi/cacert.pem
  pipenv/vendor/certifi/core.py
  pipenv/vendor/pip_shims/compat.py
  pipenv/vendor/requests/LICENSE
  pipenv/vendor/requests/__init__.py
  pipenv/vendor/requests/__version__.py
  pipenv/vendor/requests/_internal_utils.py
  pipenv/vendor/requests/adapters.py
  pipenv/vendor/requests/api.py
  pipenv/vendor/requests/auth.py
  pipenv/vendor/requests/certs.py
  pipenv/vendor/requests/compat.py
  pipenv/vendor/requests/cookies.py
  pipenv/vendor/requests/exceptions.py
  pipenv/vendor/requests/help.py
  pipenv/vendor/requests/hooks.py
  pipenv/vendor/requests/models.py
  pipenv/vendor/requests/packages.py
  pipenv/vendor/requests/sessions.py
  pipenv/vendor/requests/status_codes.py
  pipenv/vendor/requests/structures.py
  pipenv/vendor/requests/utils.py
  pipenv/vendor/vendor.txt
  tasks/vendoring/patches/vendor/pip_shims-import.patch
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Documentation tweak.
  docs/advanced.rst
  news/5092.behavior.rst
Due: none

Add a news fragment.
  news/5000.vendor.rst
Due: none

Update remaining vendor dependencies to point at the pip requests.
  pipenv/patched/patched.txt
  pipenv/patched/safety/safety.py
  pipenv/vendor/requirementslib/models/cache.py
  pipenv/vendor/requirementslib/models/dependencies.py
  pipenv/vendor/requirementslib/models/metadata.py
  pipenv/vendor/requirementslib/models/setup_info.py
  pipenv/vendor/vistir/contextmanagers.py
  setup.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

vendoring task needs requests.
  .github/workflows/ci.yaml
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix building CLI docs
  docs/conf.py
Due: none

Fix contributing docs
  docs/dev/contributing.rst
Due: none

Attempt to handle the import rewrites for requests outside of the path files.
  pipenv/core.py
  tasks/vendoring/__init__.py
  tasks/vendoring/patches/vendor/pip_shims-import.patch
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix Broken CLI docs (#5148)
  docs/conf.py
  docs/dev/contributing.rst
Due: none

Accidentally pushed change from pip vendoring update branch.
  pipenv/patched/patched.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml

Issue 5000 remove requests certifi (#5146)
  .github/workflows/ci.yaml
  docs/advanced.rst
  news/5000.vendor.rst
  news/5092.behavior.rst
  pipenv/core.py
  pipenv/patched/safety/safety.py
  pipenv/utils/internet.py
  pipenv/vendor/certifi/LICENSE
  pipenv/vendor/certifi/__init__.py
  pipenv/vendor/certifi/__main__.py
  pipenv/vendor/certifi/cacert.pem
  pipenv/vendor/certifi/core.py
  pipenv/vendor/pip_shims/compat.py
  pipenv/vendor/requests/LICENSE
  pipenv/vendor/requests/__init__.py
  pipenv/vendor/requests/__version__.py
  pipenv/vendor/requests/_internal_utils.py
  pipenv/vendor/requests/adapters.py
  pipenv/vendor/requests/api.py
  pipenv/vendor/requests/auth.py
  pipenv/vendor/requests/certs.py
  pipenv/vendor/requests/compat.py
  pipenv/vendor/requests/cookies.py
  pipenv/vendor/requests/exceptions.py
  pipenv/vendor/requests/help.py
  pipenv/vendor/requests/hooks.py
  pipenv/vendor/requests/models.py
  pipenv/vendor/requests/packages.py
  pipenv/vendor/requests/sessions.py
  pipenv/vendor/requests/status_codes.py
  pipenv/vendor/requests/structures.py
  pipenv/vendor/requests/utils.py
  pipenv/vendor/requirementslib/models/cache.py
  pipenv/vendor/requirementslib/models/dependencies.py
  pipenv/vendor/requirementslib/models/metadata.py
  pipenv/vendor/requirementslib/models/setup_info.py
  pipenv/vendor/vendor.txt
  pipenv/vendor/vistir/contextmanagers.py
  setup.py
  tasks/vendoring/__init__.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

5132 Vendor in latest requirementslib.
  pipenv/vendor/requirementslib/__init__.py
  pipenv/vendor/requirementslib/models/markers.py
  pipenv/vendor/requirementslib/models/utils.py
  pipenv/vendor/vendor.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add news fragment.
  news/5132.vendor.rst
Due: none

5132 Vendor in latest requirementslib. (#5151)
  news/5132.vendor.rst
  pipenv/vendor/requirementslib/__init__.py
  pipenv/vendor/requirementslib/models/markers.py
  pipenv/vendor/requirementslib/models/utils.py
  pipenv/vendor/vendor.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Make RAMDISK size configurable
  Makefile
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Makefile: replace . with source
  Makefile
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove importlib_metadata from Pipfile
  Pipfile
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add missing Pipefile.lock
  Pipfile.lock
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/linux.yml: any file but: docs, news, peeps, README.md, pipenv/*.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, .gitignore, .gitattributes, .editorconfig
  .azure-pipelines/windows.yml: any file but: docs, news, peeps, README.md, pipenv/*.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, .gitignore, .gitattributes, .editorconfig
  azure-pipelines.yml: any file but: docs, news, peeps, examples, pytest.ini, README.md, pipenv/patched/patched.txt, pipenv/vendor/vendor_pip.txt, */LICENSE.txt, */LICENSE, *.LICENSE, */vendor.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, *.md, .gitignore, .gitattributes, .editorconfig
