Repository pypa/pipenv: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/linux.yml: any file but: docs, news, peeps, README.md, pipenv/*.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, .gitignore, .gitattributes, .editorconfig
  .azure-pipelines/windows.yml: any file but: docs, news, peeps, README.md, pipenv/*.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, .gitignore, .gitattributes, .editorconfig
  azure-pipelines.yml: any file but: docs, news, peeps, examples, pytest.ini, README.md, pipenv/patched/patched.txt, pipenv/vendor/vendor_pip.txt, */LICENSE.txt, */LICENSE, *.LICENSE, */vendor.txt, CHANGELOG.rst, CONTRIBUTING.md, CODE_OF_CONDUCT.md, *.md, .gitignore, .gitattributes, .editorconfig

add missing news fragment.
  news/5586.vendor.rst
Due: none

Fix regression with detection of CI env variable being set to something other than a truthy value.
  pipenv/environments.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add news fragment.
  news/5554.bugfix.rst
Due: none

Fix lint
  pipenv/environments.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix regression with CI variable (#5591)
  news/5554.bugfix.rst
  news/5586.vendor.rst
  pipenv/environments.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Remove vistir.mist.get_text_stderr()
  pipenv/core.py
  pipenv/environment.py
  pipenv/exceptions.py
  pipenv/utils/funktools.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Bump required setuptools and virtualenv
  setup.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Bump required setuptools and virtualenv (#5593)
  setup.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Switch to Nushell overlays
  pipenv/shells.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add news file
  news/5603.bugfix.rst
Due: none

Refactor pip config sources to handle multiple sources defined.
  pipenv/environments.py
  pipenv/project.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

fix lint
  pipenv/project.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Flexibile argument specification when specifying multiple cateogires.
  pipenv/cli/command.py
  pipenv/cli/options.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

fix lint
  pipenv/cli/command.py
  pipenv/cli/options.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

add test and news fragment.
  news/5570.bugfix.rst
  tests/integration/test_install_categories.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix lint.
  news/5570.bugfix.rst
Due: none

Allow pipenv check inputs to be built from the lockfile categories instead of whats installed.
  pipenv/cli/command.py
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

fix lint
  pipenv/cli/command.py
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

add news fragment.
  news/5600.feature.rst
Due: none

update pipenv check documentation.
  docs/advanced.rst
Due: none

Switch to Nushell overlays (#5603)
  news/5603.bugfix.rst
  pipenv/shells.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

0ggy
  CHANGELOG.rst
Due: none

Flexibile argument specification when specifying multiple cateogires. (#5606)
  news/5570.bugfix.rst
  pipenv/cli/command.py
  pipenv/cli/options.py
  tests/integration/test_install_categories.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Improved contributing guide
  docs/dev/contributing.rst
Due: none

Added news entry
  news/5611.doc.rst
Due: none

Improved contributing guide (#5611)
  docs/dev/contributing.rst
  news/5611.doc.rst
Due: none

Revise logic for pipenv check and change default behavior to check lockfile.
  news/5600.feature.rst
  pipenv/cli/command.py
  pipenv/core.py
  tests/integration/test_cli.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

fix lint
  news/5611.doc.rst
Due: none

fix issue revealed by tests
  pipenv/core.py
  tests/integration/test_cli.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

fix docs for pipenv check changes.
  docs/advanced.rst
Due: none

Adds news fragment.
  news/5297.feature.rst
Due: none

Bump version of pip 23.0.1
  pipenv/patched/patched.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml

Invoke 2.0.0 for python 3.11 environments.
  Pipfile
  Pipfile.lock
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Vendor in pip==23.0.1
  pipenv/patched/pip/__init__.py
  pipenv/patched/pip/_internal/build_env.py
  pipenv/patched/pip/_internal/cli/cmdoptions.py
  pipenv/patched/pip/_internal/commands/index.py
  pipenv/patched/pip/_internal/commands/install.py
  pipenv/patched/pip/_internal/commands/uninstall.py
  pipenv/patched/pip/_internal/exceptions.py
  pipenv/patched/pip/_internal/locations/__init__.py
  pipenv/patched/pip/_internal/locations/_distutils.py
  pipenv/patched/pip/_internal/locations/_sysconfig.py
  pipenv/patched/pip/_internal/models/direct_url.py
  pipenv/patched/pip/_vendor/pkg_resources/LICENSE
  tasks/vendoring/__init__.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

add news fragment.
  news/5614.vendor.rst
Due: none

change conditional ordering in prep for supporting for future default categories env var.
  pipenv/core.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

vendoring updates.
  pipenv/vendor/vendor.txt
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Vendor in latest pythonfinder.
  news/5614.vendor.rst
  pipenv/vendor/pythonfinder/__init__.py
  pipenv/vendor/pythonfinder/utils.py
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Add exceptiongroup backport for pytest update.
  Pipfile
  Pipfile.lock
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml

Fix lock file with python 3.11
  Pipfile
  Pipfile.lock
Due: .azure-pipelines/linux.yml, .azure-pipelines/windows.yml, azure-pipelines.yml
